@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add a Machine!</h2>
<br>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name, "Machine Name:")
  @Html.TextBoxFor(model => model.Name)

  @* @Html.LabelFor(model => model)
  @Html.DropDownList("") *@
  <br>
  <br>
  <input type="submit" value="Add new machine"/>
}
<br>
<br>
@* <h3>@Html.ValidationMessageFor(model => model, "", new { @style = "color: Red;" })</h3>
<h3>@Html.ValidationMessageFor(model => model, "", new { @style = "color: Red;" })</h3> *@
<p>@Html.ActionLink("View all machines!", "Index")</p>